{% extends 'master1.twig' %}

{% block contenido %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">No existe el recurso</h1>
    </div>
    <!-- /.col-lg-12 -->

    <div class="col-lg-12">
        <p>
        <pre>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac elit nec sapien condimentum accumsan. Proin non justo eget nisl rutrum tincidunt et sit amet metus. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc et hendrerit augue. Quisque tincidunt urna sed scelerisque faucibus. Quisque iaculis aliquam iaculis. Vivamus consequat quam iaculis pharetra dictum. Ut commodo, augue sed tempor commodo, tellus dui malesuada augue, vel malesuada lectus sapien et tellus. Nunc sed erat nunc. Sed blandit odio quis purus euismod posuere. Integer venenatis risus et suscipit porttitor. Phasellus aliquet, nibh vel pretium scelerisque, libero nisl scelerisque risus, non tempor dolor orci ac lacus. Aenean metus velit, sodales sit amet augue eu, congue faucibus ante. Suspendisse in arcu suscipit, imperdiet purus sit amet, placerat est. Proin aliquet dapibus nisi.

            Suspendisse varius metus sed erat blandit, nec ultricies massa ullamcorper. Maecenas quam metus, ultrices id erat et, feugiat placerat lorem. Morbi sagittis mi est. Suspendisse ultricies finibus elit, quis molestie dui malesuada in. Duis sed risus in libero ornare pulvinar. Nunc pellentesque dignissim porta. Aenean ut mi tincidunt, mollis nisl vitae, porta tortor. Curabitur enim lorem, aliquam vitae metus in, porta luctus felis. Quisque efficitur velit mattis tortor feugiat egestas. Morbi vel ultrices lacus, nec cursus mauris. In dapibus in sapien sed facilisis. Aliquam pulvinar, massa eget suscipit aliquet, dolor neque euismod sapien, non accumsan nisi felis et nibh. Curabitur nec nulla ut ex sagittis viverra. Integer bibendum odio quis interdum sollicitudin.

            Pellentesque venenatis justo nulla, ac tincidunt urna viverra at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis ex tellus, luctus eget dolor sit amet, ultricies rutrum nulla. Fusce molestie orci eros, et maximus est tempor ut. Donec ligula tortor, mattis sed luctus et, ullamcorper non urna. Curabitur facilisis mauris ut lacus fringilla iaculis. Nullam sodales sapien vitae felis euismod, ut viverra massa feugiat. Cras quis euismod diam.

            Nulla gravida, mauris et pulvinar mattis, leo purus placerat lorem, ut dictum augue sem et sem. Pellentesque fringilla ex eget augue egestas accumsan. Aenean tellus ante, convallis at aliquam vel, pulvinar eu nisl. Vivamus vitae congue magna. Duis eu ipsum vitae ex aliquam placerat. Cras blandit dui erat, in sollicitudin massa faucibus at. Nullam id metus diam.

            Duis interdum nunc quis lobortis molestie. Curabitur vitae sapien vitae urna efficitur pellentesque. Vestibulum libero justo, sollicitudin nec enim vitae, blandit tempus libero. Integer eget sapien posuere, placerat augue vitae, maximus lacus. Nam sed arcu augue. Maecenas eget mi nec est posuere interdum at quis leo. Mauris ac quam ac arcu lacinia vehicula at vitae nunc. In ullamcorper lacus et finibus porttitor. Aenean sit amet nulla porttitor, mollis purus non, suscipit lacus.
        </pre>
        </p>
    </div>
</div>
{% endblock %}
