{% extends 'master1.twig' %}


{% block contenido %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"></h1>
  </div>
  <!-- /.col-lg-12 -->
  <ol class="breadcrumb">
    <li>
      <i class="fa fa-dashboard"></i>
      <a href="{{ path_for('home') }}">Inicio</a>
    </li>
    <li class="active">
      <i class="fa fa-user-secret"></i> Aviso de privacidad
    </li>
  </ol>

    <div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h1>Aviso de privacidad</h1></div>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="panel-body">
                        <p class="lead text-muted">Skyline representado legalmente por Lic. Luis Rodríguez es una persona física con dirección fiscal Av. Paseo Constituyentes 1285, El Pueblito, 76900 Santiago de Querétaro, Qro. nuestro número de teléfono es (442) 125 9377 y nuestro responsable de protección de datos es el Ing. Daniel Sánchez, usted podrá contactar en el correo electrónico: contacto@skyline.com</p>

                        <p class="lead text-muted">Skyline se compromete a asegurar la privacidad de la información personal obtenida a través de sus servicios en línea. No obstante, se requiere leer la normativa descrita a continuación para entender el tratamiento de los datos proporcionados.</p>
                    </div>
                
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><strong><i class="fa fa-info fa-lg"></i></strong> Tipo de información</h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <p class="text-muted">Se recopilará la información de diferentes formas y desde distintas áreas del sitio web skyline.com</p> 

                            <p class="text-muted">La información deberá ser veraz y completa. El usuario responderá en todo momento por los datos proporcionados y en ningún caso skyline será responsable de la veracidad de los mismos.</p>

                            <p class="text-muted">Se sujetarán a las normas de seguridad y privacidad todos aquellos datos personales que el usuario ingrese voluntariamente en dicha dirección electrónica.</p>

                            <p class="text-muted">La información que solicitamos al usuario en la aplicación Skyline es:</p> 

                            <p class="text-muted">Nombre completo, Empresa, Dirección, Datos de Facturación, Teléfonos.</p> 

                            <p class="text-muted">La información solicitada permitirá contactar a los usuarios cuando sea necesario. Los usuarios podrán ser contactados por teléfono o correo electrónico.</p>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><strong><i class="fa fa-adjust fa-lg"></i></strong> Uso</h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <p class="text-muted">La información suministrada durante el proceso de registro, inscripción a algún programa y promociones se emplea para realizar estudios internos sobre los datos demográficos, intereses y comportamiento de los usuarios; con la finalidad de proporcionarles productos, servicios, contenidos y publicidad acordes a sus necesidades.</p>

                            <p class="text-muted">DERECHOS ARCO (ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN)</p> 

                            <p class="text-muted">Los datos personales proporcionados por el usuario formarán parte de un archivo que contendrá su perfil. El usuario puede solicitar o modificar su perfil en cualquier momento via Sign in en la aplicación.</p>

                            <p class="text-muted">Asimismo podrá notificarnos la cancelación del tratamiento de información y la cancelación de su expediente, por el mismo medio. Skyline aconseja al usuario pida actualice sus datos cada vez que éstos sufran alguna modificación, ya que esto permitirá brindarle un servicio más personalizado.</p>

                            <p class="text-muted">Transferencias de información con terceros.</p> 

                            <p class="text-muted">Skyline únicamente realiza transferencias de información con las empresas de Centros de Datos con las que mantiene una relación jurídica vigente para poder mantener, actualizar y administrar los servidores, a través de los que informa a sus contratantes y usuarios sobre actividades, promociones, productos y eventos.</p>
                        </div>
                    </div>
                </div>
                

               <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><strong><i class="fa fa-shield fa-lg"></i></strong> Protección</h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <p class="text-muted">La seguridad y la confidencialidad de los datos que los usuarios proporcionen al contratar nuestros servicios estarán protegidos por un servidor seguro godaddy, de tal forma que los datos enviados se transmitirán encriptados para asegurar su resguardo.</p>

                            <p class="text-muted">Sin embargo, y a pesar de contar cada día con herramientas más seguras, la protección de los datos enviados a través de Internet no se puede garantizar al 100%; por lo que una vez recibidos, se hará todo lo posible por salvaguardar la información.</p>

                            <p class="text-muted">Datos Sensibles Skyline no solicita datos personales sensibles en los términos descritos por la Ley.</p>
                        </div> 
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><strong><i class="fa fa-user-secret fa-lg"></i></strong> Confidencialidad</h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <p class="text-muted">Skyline no tiene obligación alguna de mantener confidencial cualquier otra información que el usuario proporcione por medio de boletines y pláticas en línea (chats), así como a través de las cookies, lo anterior con base en los términos establecidos en el artículo 109 de la Ley Federal del Derecho de Autor y del artículo 76 bis, fracción I, de la Ley Federal de Protección al Consumidor.</p>

                            <p class="text-muted">Sólo se podrá difundir la información en casos especiales, como identificar, localizar o realizar acciones legales contra aquellas personas que infrinjan las condiciones de servicio de la aplicación web, causen daños a, o interfieran en, los derechos de Skyline., sus propiedades, de otros usuarios de la aplicación web o de cualquier persona que pudiese resultar perjudicada por dichas acciones.</p>

                            <p class="text-muted">Skyline NO venderá, regalará, facilitará ni alquilará información confidencial a terceros. Si el usuario no desea que sus datos sean compartidos, podrá prescindir de un servicio determinado o abstenerse de participar en algunas promociones o concursos.</p>

                            <p class="text-muted">Skyline NO compartirá información confidencial con terceras partes, salvo expresa autorización de sus suscriptores o cuando por medio de una orden judicial se requiera para cumplir con ciertas disposiciones procesales.</p>

                            <p class="text-muted">Se aconseja al usuario pedir actualizar sus datos periódicamente.</p> 

                            <p class="text-muted">Asimismo, si participa en promociones vía correo electrónico podrá en cualquier momento desactivar este servicio.</p>
                        </div> 
                    </div>
                </div>
                
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><strong><i class="fa fa-user-secret fa-lg"></i></strong> Confidencialidad (menores de edad)</h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <p class="text-muted">La salvaguarda de la información infantil es extremadamente importante, por lo que serán mínimos los datos solicitados para brindar los servicios que se le proporcione a este sector.</p>

                            <p class="text-muted">Se recomienda a los padres y tutores que asesoren a los menores de edad al momento de navegar por Internet y que aprueben el envío de cualquier tipo de información personal.</p>

                            <p class="text-muted">Cambios en el Aviso de Privacidad</p>

                            <p class="text-muted">Skyline se reserva el derecho de efectuar en cualquier momento, modificaciones en las presentes en el Aviso de privacidad y adaptarlas a novedades legislativas, jurisprudenciales, así como a prácticas del mercado. Cualquier cambio/modifcación en el presente Aviso de Privacidad podran consultarlo en nuestra página de internet en skyline/AvisodePrivacidad</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><strong><i class="fa fa-check-square fa-lg"></i></strong> Aceptación de los términos</h4>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <p class="text-muted">Esta declaración de Confidencialidad / Privacidad está sujeta a los términos y condiciones de todos los servicios de Skyline antes descritos, lo cual constituye un acuerdo legal entre el usuario y Skyline.</p>

                            <p class="text-muted">Si el usuario utiliza los servicios de la aplicación Skyline, significa que ha leído, entendido y acordado los términos antes expuestos. Si no está de acuerdo con ellos, el usuario no deberá proporcionar ninguna información personal, ni utilizar los servicios de los sitios de Skyline.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="panel-body">
                    <p class="text-muted">Ultima actualización: 20 de Enero del 2017.</p>
                </div>
                </div>
            </div>
        </div>
  </div>
</div>
{% endblock %}
