{% extends 'master.twig' %}

{% block estilos %}
{% endblock %}

{% block contenido %}
<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Perfil
    </h1>
  <ol class="breadcrumb">
    <li>
      <i class="fa fa-dashboard"></i>
      <a href="{{ path_for('home') }}">Inicio</a>
    </li>
    <li class="active">
      <i class="fa fa-user"></i> Perfil
    </li>
  </ol>
  <div class="col-lg-12">
    {% include 'templates/partials/flash.twig' %}
    {% include 'templates/widgets/auth/profileForm.twig' %}
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}

{% block scripts %}
{% endblock %}
