{% extends 'master1.twig' %}

{% block contenido %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"></h1>
  </div>
  <!-- /.col-lg-12 -->
  <ol class="breadcrumb">
    <li>
      <i class="fa fa-dashboard"></i>
      <a href="{{ path_for('home') }}">Inicio</a>
    </li>
    <li class="active">
      <i class="fa fa-pencil-square-o"></i> Terminos y condiciones de uso
    </li>
  </ol>

    <div class="col-lg-12">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h1>Terminos y condiciones de uso</h1></div>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="panel-body">
                        <h1 class="lead text-muted text-center">Condiciones Generales y Contratación de Skyline de México S.A. de C.V.</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4><strong><i class="fa fa-thumb-tack fa-lg"></i></strong> Declaraciones</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="panel-body">
                                        <p class="text-muted">1. El presente documento regula, de manera exclusiva, todas las relaciones entre EL CLIENTE y SKYLINE, mismas que se entienden aceptadas desde el momento en que el CLIENTE haga una solicitud de servicios de SKYLINE, por cualquier medio aceptado por las partes.</p> 

                                        <p class="text-muted">2. Se entiende que EL CLIENTE es una persona física, moral o jurídica con capacidad legal para contratar los servicios de SKYLINE.</p>

                                        <p class="text-muted">3. Se entiende que SKYLINE es una persona física, moral o entidad, con capacidad legal para contratar y prestar los servicios aquí descritos ya sea como agente o principal, en su caso.</p>

                                        <p class="text-muted">4. La responsabilidad legal que se genere del presente documento es asumido por EL CLIENTE y SKYLINE, y, en caso de sociedades irregulares, por las personas físicas que las representen o conformen.</p> 

                                        <p class="text-muted">5. Acuerdan las partes que cuando usen comunicaciones electrónicas para negociar cualquier asunto, total o parcialmente, tales comunicaciones cuentan con plena validez legal.</p> 

                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4><strong><i class="fa fa-pencil-square-o fa-lg"></i></strong> Definiciones</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="panel-body">
                                        <p class="text-muted">1. Las definiciones aquí descritas lo son de manera enunciativa, más no limitativa.</p>
                                        <p class="text-muted page-header">2. Para efecto de este documento se entiende por:</p>
                                        <p class="text-muted">2.1. CLIENTE. Cualquier persona, física, moral o entidad, que requiera la prestación de servicios de SKYLINE, ya sea en materia de consultoría, asesoría, logística en transportación, almacenaje, distribución, gestión y manejo de carga y mercancías o bienes nacionales e internacionales.</p>
                                        <p class="text-muted">2.2. SKYLINE. Cualquier persona física o moral que proporciona servicios de consultoría, asesoría, logística en transportación, transporte, almacenaje, distribución, gestión y manejo de carga y mercancías nacionales e internacionales actuando como AGENTE o PRINCIPAL.</p>
                                        <p class="text-muted">2.3. CONSIGNATARIO. El receptor de los bienes y/o titular así señalado en el Conocimiento de Embarque y/o cualquier persona que sea la propietaria o tenga derecho a la posesión de las mercancías, que tenga un interés presente o futuro.</p>
                                        <p class="text-muted">2.4. MERCANCÍAS O BIENES. Cosas u objetos que sean susceptibles de ser transportados.</p>
                                        <p class="text-muted">2.5. MERCANCÍAS PELIGROSAS. Aquellas que establecen con tal calidad las Normas Internacionales en Materia Marítima, Aérea, Terrestre, etc., así como aquellas que puedan ser o se vuelvan peligrosos, inflamables o de carácter radiactivo, o que se dañen a sí mismos o a otra propiedad; o los bienes que están empacados de manera peligrosa, bienes que pueden hospedar u originar alimañas u otras pestes, bienes que debido a lo legal, lo administrativo u otros obstáculos como su transporte, descarga u otro tipo de situación sean detenidos o causen que otra persona o propiedad sea detenida; recipientes vacíos que anteriormente se usaron para el transporte de bienes peligrosos, a excepción de aquéllos que se les haya vuelto seguros; y bienes que cualquier autoridad considere como peligrosos o riesgosos.</p>
                                        <p class="text-muted">2.6. MERCANCÍA CONSOLIDADA. Agrupamiento de mercancías pertenecientes a varios consignatarios, reunidas para ser transportadas de un puerto, aeropuerto o terminal terrestre con destino a otro puerto, aeropuerto o terminal terrestre, en contenedores o similares, siempre y cuando se encuentren contenidas en la misma unidad de transporte.</p>
                                        <p class="text-muted">2.7. UNIDAD DE TRANSPORTE. Caja de empaque, pallet, contenedor, tráiler, buque o cualquier otro mecanismo empleado para y con relación al cargamento de bienes por tierra, mar o aire.</p>
                                        <p class="text-muted">2.8. SERVICIOS. Cualquier negocio asumido o consejo, información o servicios proporcionados por SKYLINE.</p>
                                        <p class="text-muted">2.9. SOLICITUD DE SERVICIOS. Documento u orden, ya sea escrita, telefónica o electrónica enviada por cualquier medio de EL CLIENTE a SKYLINE para la prestación de los servicios.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="panel-body">
                                        <p class="text-muted">2.10. CONDICIONES. Se refiere a las disposiciones establecidas en el presente documento y sus anexos.</p>
                                        <p class="text-muted">2.11. ANEXOS. Todo aquel documento que aplique y rija respecto a la contratación de los SERVICIOS.</p>
                                        <p class="text-muted">2.12. AUTORIDAD. Persona administrativa o jurídica debidamente constituida quien actúa dentro de sus poderes legales y ejerce jurisdicción dentro de cualquier nación, estado, municipalidad, puerto o aeropuerto.</p>
                                        <p class="text-muted">2.13. REGLAS DE LA HAYA-VISBY. Son las disposiciones del Protocolo por el que se modifica la Convención Internacional para la Unificación de Ciertas Reglas en Materia de Conocimiento – haciendo referencia a los conocimientos de embarque-, firmado en Bruselas el 25 de agosto de 1924, y modificadas por el Protocolo pactado en Bruselas el 23 de febrero de 1968.</p>
                                        <p class="text-muted">2.14. CONVENCIÓN DE VARSOVIA. Es la Convención para la Unificación de Ciertas Reglas Relativas al Transporte Aéreo Internacional, firmada en Varsovia el 12 de octubre de 1929, y modificada en los Protocolos de La Haya de 1955 y de Montreal, de 1995.</p>
                                        <p class="text-muted">2.15. UNCTAD. United Nations Conference on Trade and Development (Conferencia de las Naciones Unidas sobre Comercio y Desarrollo).</p>
                                        <p class="text-muted">2.16 FIATA (International Federation of Freight Forwarder’s Association)</p>
                                        <p class="text-muted">2.17. PRINCIPAL. Servicio de transporte prestado directamente por el SKYLINE.</p>
                                        <p class="text-muted">2.18. SKYLINE. Servicios que se ofrecen por contratación o prestación de terceros a favor del CLIENTE.</p>
                                        <p class="text-muted">2.19. TARIFA. Costo de los servicios cotizados por SKYLINE.</p>
                                        <p class="text-muted">2.20. MANDATO. Acción en la que el CLIENTE confía la gestión de uno o más negocios al SKYLINE para hacerse cargo de ellos por cuenta y riesgo de la primera.</p>
                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
{% endblock %}
