<form class="form-horizontal" method="post">
  <div class="panel panel-default">
    <div class="panel-heading">
      Datos de la orden de registro de embarque
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab"><i class="fa fa-info"></i> Generales</a>
            </li>
            <li role="presentation">
              <a href="#materiales" aria-controls="materiales" role="tab" data-toggle="tab">
                <i class="fa fa-list-ol"></i> Materiales
              </a>
            </li>
            <li role="presentation">
              <a href="#archivos" aria-controls="archivos" role="tab" data-toggle="tab">
                <i class="fa fa-files-o"></i> Adjuntos
              </a>
            </li>
            <li role="presentation">
              <a href="#tareas" aria-controls="tareas" role="tab" data-toggle="tab">
                <i class="fa fa-tasks"></i> Tareas
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="generales">
              <br/>
              {% include 'templates/widgets/registration/generalForm.twig' with {
                'readOnly' : 'readOnly'
              }%}
            </div>
            <div role="tabpanel" class="tab-pane" id="materiales">
              <br/>
              {% include 'templates/widgets/registration/itemList.twig'  with {
                'readOnly' : 'readOnly'
              } %}
            </div>
            <div role="tabpanel" class="tab-pane" id="archivos">
              <br/>
              {% include 'templates/widgets/registration/filesGrid.twig'  with {
                'readOnly' : 'readOnly'
              } %}
            </div>
            <div role="tabpanel" class="tab-pane" id="tareas">
              <br/>
              {% include 'templates/widgets/registration/taskList.twig'  with {
                'readOnly' : 'readOnly'
              } %}
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a href="{{ path_for('registration.receipt', {'id': orden.id }) }}" class="btn btn-info" target="_blank" />
      <i class="fa fa-file-excel-o"></i> Recibos
    </a>
  </div>
</div>
</form>
