<form class="form-horizontal" action="{{ path_for('extraction.product.add', {'id': producto.id}) }}" method="post">
  <div class="panel panel-default">
    <div class="panel-heading">
      Datos de la orden de extracción
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab"><i class="fa fa-info"></i> Generales</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="generales">
              <br/>
              {% include 'templates/widgets/extraction/fastGeneralForm.twig'%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button id="operacion" name="operacion" value="Guardar" type="submit" class="btn btn-default btn-primary" />
      <i class="fa fa-save"></i> Guardar
      </button>
    </div>
  </div>
</form>
