<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Solicitudes en el tiempo
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Solicitudes
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Abiertas</a>
                    </li>
                    <li><a href="#">Cerradas</a>
                    </li>
                    <li><a href="#">Canceladas</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Todas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="morris-area-chart"></div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
