  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="{{ path_for('terms') }}">Terminos y condiciones</a> | <a href="{{ path_for('privacy')}}">Aviso de privacidad</a>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right"><a href="{{ path_for('about') }}"><i class="fa fa-copyright"></i> 2016 VisionWap</a></p>
      </div>
    </div>
  </div>
